.loading{
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(180deg, rgba(189,4,255,1) 0%, rgba(83,4,112,1) 100%); */
    position: fixed;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.loading .logoimg{
    width: 100px;
    position: absolute;
}
.spinner {
    width: 150px;
    color: rgb(204, 0, 255);
    position: absolute;
    animation: spin .7s infinite linear;
    /* animation-timing-function: steps(8, end); */
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}